numpy
requests==2.27.1
streamlit==1.7.0
transformers==4.16.2
nltk
spacy
tensorflow-cpu
lxml
sentencepiece
torch
torchvision
beautifulsoup4
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl